################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSProj.pyproj
/ImageURLs/~$ProductUPC_DescSampleImage.xlsx
/.vs/CSProj/v15
/CSProj.sln
/ImageURLs/desktop.ini
/ImageDump
/Images_compressed
/ImageDump.zip
/.vs
/AnnotationsAppender.py
/get_image.py
/ImagePartitioner.py
/CSProj.pyproj.user
